<?php
$helper = $this->helper('ordertracker');
?>
<?php if($this->error_status){?>
	<div id="error_status"><?php echo $this->error_status; ?></div>
	<a href="<?php echo $this->ordertrackUrl(); ?>">Back</a>
<?php }else{?>
<div id="order-result" class="orderResult">
	<div class="rsNo"><span class="noText">Order #</span><span id="no-value" class="noNumber"><?php echo $this->order_number; ?></span></div>
	<div class="rsStatus1">
		 <ul>
				<li id="status1-pending" class="<?php echo ($this->status == 'pending') ? 'active':''?>">Pending</li>
				<li id="status1-processing" class="<?php echo ($this->status == 'processing') ? 'active':''?>">Processing</li>
				<li id="status1-completed" class="<?php echo ($this->status == 'complete')? 'active' :''?>">Complete</li>
				<li id="status1-cancel" class="<?php echo ($this->status == 'canceled')? 'active' :''?>">Canceled</li>
				<li id="status1-closed" class="<?php echo ($this->status == 'closed')? 'active' :''?>">Closed</li>
		 </ul>
	</div>
	<div class="rsStatus2"><span class="status2Text">Order status: </span><span id="status2-value" class="status2Value"><?php echo ucwords($this->status); ?></span></div>
	<div id="rs-carrier" class="rsCarrier" style="display: block;"><span class="carrierText">Carrier: </span><span id="carrier-value" class="carrierValue"><?php echo $this->carriers; ?></span></div>
	<div class="rsBilled"><span class="billedText">Billed on: </span><span id="billed-value" class="billedValue"><?php echo $this->billed_on; ?></span></div>
	<div id="rs-shipped" class="rsShipped" style="display: block;"><span class="shippedText">Shipped on: </span><span id="shipped-value" class="shippedValue"><?php echo $this->shipped_dates; ?></span></div>
   
	<div class="rsOrder">
		<div class="orderDetail">
			<div class="detailTitle">Order Detail</div>
			<div class="detailContent">
				<table class="data-table">
					<colgroup>
						<col width="1">
						<col width="1">
						<col width="1">
						<col width="1">
						<col width="1">
						<col width="1">
					</colgroup>
					<thead id="orderdetail-header"><?php echo $this->orderdetail_header; ?></thead>
					<tbody id="orderdetail-html"><?php echo $this->orderdetail_html; ?></tbody>
				</table>
				<div class="detailSummary">
					<table>
						<tbody><tr>
							<td class="s-text">Subtotal</td>
							<td id="s-subtotal"><?php echo $this->subtotal; ?></td>
						</tr>
						<tr>
							<td class="s-text">Shipping</td>
							<td id="s-shipping"><?php echo $this->shipping; ?></td>
						</tr>
						<tr>
							<td class="s-text">Tax</td>
							<td id="s-tax"><?php echo $this->tax;?></td>
						</tr>
						<tr>
							<td class="s-text">Discount</td>
							<td id="s-tax-discount"><?php echo $this->discount;?></td>
						</tr>
						<tr>
							<td class="s-text"><strong>Grand Total</strong></td>
							<td class="sTotal" id="s-total"><?php echo $this->grandtotal; ?></td>
						</tr>
						<tr>
							<td class="sPayment" id="s-payment" colspan="2"><?php echo $this->payment; ?></td>
						</tr>
					</tbody></table>
				</div>
				<div class="order-info-address">
					<div class="order-info-box">
					</div>
					<div class="order-info-box">
						<div class="col-1">
							<div class="box">
								<div class="box-title">
									<h2>Billing Information</h2>
								</div>
								<div class="box-content">
									<address id="billing-info"><?php echo $this->billing_info; ?></address>
								</div>
							</div>
						</div>
					</div>	
					<div class="order-info-box">
						<div class="col-1">
							<div class="box">
								<div class="box-title">
									<h2>Shipping Information</h2>
								</div>
								<div class="box-content">
									<address id="shipping-info"><?php echo $this->shipping_info; ?></address>
								</div>
							</div>
						</div>
					</div> 	
				</div>
			</div>
		</div>
	</div>
</div>
<script>jQuery.noConflict();</script>
<script type="text/javascript">
if ( typeof jQuery == 'undefined')
{
  var script=document.createElement('script');
  script.onload = function() {
	  console.log("Script loaded and ready");
	  jQuery.noConflict();
	  jQuery('#order-result').show('slow');
  }
  script.type='text/javascript';
  script.src='<?php echo $this->getSkinUrl('js/ordertrack/jquery-1.10.2.min.js');?>';
  document.getElementsByTagName('head')[0].appendChild(script)
}else{
	jQuery('#order-result').show('slow');
}
</script>
<?php } ?>
